os: osx

language: cpp

compiler: clang

env:
  global:
    - XCODE_XCCONFIG_FILE=$TRAVIS_BUILD_DIR/.travis.xcconfig

install:
  - sudo easy_install pip
  - pip install six
  - wget https://az664292.vo.msecnd.net/files/9Wz3GRnbPRghC2nt-Mono.zip -O mono.zip &&
    unzip -d mono mono.zip &&
    export PATH=$PATH:$PWD/mono/bin
  - Stuff/stuff install Stuff

before_script:
  - ulimit -c unlimited -S
  - rm -rf /cores/core.*

script:
  - Stuff/uno --trace doctor
  - Stuff/uno --trace build -tios Tests/ManualTests/ManualTestingApp/ManualTestingApp.unoproj
  - Stuff/uno --trace test -tnative --timeout=30 Source/AllTests.unoproj

after_failure:
  - for c in $(ls /cores/core.*); do
      lldb -c $c -o "bt all" -b;
    done
